*{
  box-sizing: border-box;
  margin: 0;
}

body{
  display:grid;
}
/* At small screen */

.nav_icons{
display:flex;
justify-content: space-between;
}
.nav-items{
  display:none;
}
.hero{
  background-color: #495753;
}


.hero_title{
  font-family: 'Markazi Text', serif;
  color: #F4CE14;
  font-size: 64px;
  font-weight: bold;
  


}
.specials_heading{
  font-family: 'Markazi Text', serif;
  font-size: 48px;
  font-weight: bold; 
}
h2{
  color: #333333
}

.btn_primary{
  background-color: #F4CE14;
  color: #000000;
  border-radius: 5px;
  height: 2rem;
  padding-right:10px;
  padding-left: 10px;
  text-align: center;
}
.specials_titles{
  display: flex;
  justify-content: space-between;
}
.hero_h2{
  font-family: 'Markazi Text', serif;
  color: #edefee;
  font-size: 48px ;
  margin-top: 0;
}

.testimonials_card{
  background-color: white;
}

.testimonials_card > h3{
font-size: small;
margin-top: 1rem;
}
.testimonials_card > p{
  font-size: smaller;
  margin-bottom: 1rem;

}
.testimonials_card_component{
  display: flex;

}
.testimonials_card_image{
  margin: 0.5rem;
}
.testimonials_name{
  margin-right: 1rem;
}

.testimonials{
  background-color: #edefee;
  height: 50vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.testimonials_title{
  font-family: 'Markazi Text', serif;
  text-align: center;
  font-size: 48px;
}
.specialsCard{
  background-color: #edefee;
  border-top-left-radius: 50px 20px;
}
.specials_card_pricing{
padding: 1rem;
display: flex;
justify-content: space-between
}
.specials_card_dish_title{
  font-size: small;
  font-weight: bold;
}
.specials_card_price_title {
  color: #F67272;
  font-size: small;
  font-weight: bold;
  letter-spacing: 1;
}
.specials_card_ptag{
  padding: 0.5rem;
  font-family: 'Karla', sans-serif;
}
.error{
  color: red;
  font-size: small;
}
.specials_card_delivery{
  font-weight: bold;
  font-size: small;
  margin-bottom: 0.5rem;
}
.specials_card_image{
  border-top-left-radius: 50px 20px;
}
.specials_card_delivery_box{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem
}
.footer{
  margin-top: 10rem;
  background-color: #161616 ;
  display:flex;
  justify-content: space-around;
 padding: 4rem;
 color: white;

}
.about_title{
  font-family: 'Markazi Text', serif;
  font-size: 64px;
  color: #F4CE14;
  font-weight: bold;
}
.about_subtitle{
  font-family: 'Markazi Text', serif;
  font-size: 48px;
}
.about_pgraph{
  font-family: 'Karla', sans-serif;
  font-size: 18px;
}
/* At large screen */
@media screen and (min-width: 480px){
  *{
   margin:0;
  }
  .nav{
    display:flex;
    justify-content: space-around;
    margin-top: 1rem;
  }
  .nav-items{
    display:flex;
    list-style: none;
    justify-content: space-between;
    font-weight: 600;

  }
  li{
    margin-left: 1rem;
  }
  .hamburger{
    display: none;
  }
  .hero{

    margin: 0.5rem;
    justify-content: center;
    height: 55vh;
    position: relative;
    text-align: start;
    margin-bottom: 10rem;

  }
  .hero_text_box{
    margin-left: 11rem;
    padding-top: 1rem;

  }
  .heroImage{
    position: absolute;
    width: 250px;
    height: 53vh;
    top: 60px;
    right: 80px;
    border-radius: 10px;

  }
  .heroParagraph{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 300px;
    color:#edefee
  }
  .specials{
    margin: 11rem;
  }
  .orderonline{
    margin-bottom: 2rem;
  }
  .specials_cards_dock{
    display: flex;
    gap: 8rem;
  }
  .testimonials_card_dock{
    display:flex;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    gap: 2rem;
    }
.about{
  display: flex;
  justify-content: end;
  margin-left: 24rem;
  gap: 4rem;

}
 .about_text_box{
flex: 1;
    }

.about_image_box{
flex: 1;
}
.about_image_1{
  margin: -150px;
  border-radius: 25px
  
}
.about_image_2{
  display: inline-block;
  border-radius: 25px
  
}
.about_pgraph{
  font-size: medium;
  margin-top: 3rem;
  width: 300px;
  
}
}

